body {
    background-color:#FFFFFF;
  }
  .inputs {
    font-family: bebas-neue-pro, sans-serif;
    font-size: large;
    font-weight: 800;

    font-style: normal;
}
  button {
    font-family: bebas-neue-pro, sans-serif;
    font-size: large;
    font-weight: 800;

    font-style: normal;
    }
  body {
    font-family: bebas-neue-pro, sans-serif;
    font-size: large;
    font-weight: 800;
    
    font-style: normal;
  }